/*
    You can modify the Onyx theme by adding variable and rule overrides to this
    file.  To enable theming, follow these steps:

    1. In source/package.js, change "$lib/onyx" to "$lib/onyx/source".
    2. In source/style/package.js, add "style/Theme.less" (this file).
    3. Add variable and rule overrides below.

    See [https://github.com/enyojs/enyo/wiki/UI-Theming] for more information.
*/


/* Onyx default variable definitions: */
/* @import "../../lib/onyx/css/onyx-variables.less"; */

/* Place your Onyx variable overrides here --------------- */
/* Background Colors */
/* ---------------------------------------*/
@onyx-groupbox-background: #333333;
@onyx-popup-background: #333333;
@onyx-toolbar-background: #333333;
/* ------------------------------------- end variable overrides */

/* Onyx rule definitions: */
/* @import "../../lib/onyx/css/onyx-rules.less"; */

/* Place your Onyx rule overrides here ------------------- */
@pangea-green: #99cc33;
@border-grey: #d8d8d8;
body {
  color: #333333;
  font-family: 'Helvetica Neue', 'Nimbus Sans L', Arial, sans-serif;
}
.logo {
  height: 26px;
  width: auto;
} 
.search.onyx-input-decorator {
  background: #ffffff;
  position: relative;
  border-radius: 20px;
  border: 2px solid @pangea-green;
  width: 35%;
  padding-right: 33px;
  .onyx-input {
    color: #333333;
  }
  &:before {
    color: @pangea-green;
    font-size: 39px;
    right: 0px;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "\f111";
    position: absolute;
    right: 0px;
    top: -4px;
  }
  &:after {
    color: #ffffff;
    font-size: 20px;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "\f002";
    position: absolute;
    right: 6px;
    top: 5px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }
}
.user-nav.onyx-popup-decorator {
  .onyx-button {
    background: none !important;
    border: none !important;
    padding: 0px;
    text-decoration: none;
    box-shadow: none !important;
    position: relative;
    color: #ffffff;
    &:hover {
      cursor: pointer;
    }
    &:after {
      color:#ffffff;
      font-family:FontAwesome;
      font-weight:normal;
      font-style:normal;
      display:inline-block;
      text-decoration:inherit;
      content:"\f0d7";
      margin: 2px 0 0 4px;
    }
    &.active {
      &:after {
        content:"\f0d8";
      }
    }
  }
}
.white.onyx-toolbar {
  background: #ffffff;
  border: 1px solid @border-grey;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 36px;
}
.status-bar.onyx-toolbar {
  background: #ffffff;
  border: 0px;
}
.extension-picker.onyx-picker-decorator {
  .onyx-button {
    background: none !important;
    border: none !important;
    padding: 0px;
    text-decoration: none;
    box-shadow: none !important;
    position: relative;
    color: @pangea-green;
    font-size: 22px;
    &:hover {
      cursor: pointer;
    }    
    &:active:hover:not([disabled]) {
      border: none !important;
    }
    &:after {
      color: @pangea-green;
      font-family:FontAwesome;
      font-weight:normal;
      font-style:normal;
      display:inline-block;
      text-decoration:inherit;
      content:"\f0d7";
      margin: 2px 0 0 4px;
    }
    &.active {
      &:after {
        content:"\f0d8";
      }
    }
  }

}
.extension-picker.onyx-picker {
  top: 106px !important;
  .onyx-menu-item {
    box-shadow: none !important;
    border: 0px !important;
    color: #333333;
    &:hover {
      background: @border-grey;
      cursor: pointer;
    }
    &.selected {
      background: @pangea-green;
      color: #ffffff;
    }
  }
}
.workspace-toolbar.onyx-toolbar {
  .onyx-button {
    color: #333333;
    background: #f6f6f6;
    border-radius: 0px;
    border-color: @border-grey;

    &:active:hover:not([disabled]) {
      background: @border-grey;
      border-color: #bebebe;      
    }
  }
}
#xCore_gui_workspace {
  box-shadow: rgb(216, 216, 216) 0px 7px 9px -7px inset;
}
.onyx-menu {
  background: #ffffff;
  border: 1px solid @border-grey;
  border-radius: 0px !important;
  box-shadow: none !important;
  color: #333333;
  padding: 0px;
}
.onyx-menu-item:hover {
  cursor: pointer;
  background: @pangea-green;
  color: #ffffff;
}
.extension-sub-list.enyo-list {
  &:hover {
    cursor: pointer;
  }
  .item {
    color: #333333;
    padding: 10px 0px 10px 10px;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }
    &.selected {
      color: #ffffff;
      background: @pangea-green
    }    
  }
}
.extension-sub-list.enyo-data-list {
  &:hover {
    cursor: pointer;
  }
  .item {
    color: #333333;
    padding: 10px 0px 10px 10px;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  .selected {
    .item {
      color: #ffffff;
      background: @pangea-green
    }
  }
}
.alert {
  .notification-messagebar-bar {
    bottom: auto !important;
    margin-left: -12px;
    position: relative;
    background: none;
    font-size: 14px !important;
    .notification-messagebar-notification {
      width: 100%;
      height: auto;
      padding: 10px 15px 10px 15px;
      border: 1px solid transparent;
      border-radius: 4px;
      color: #31708f;
      background-color: #d9edf7;
      border-color: #bce8f1;
      position: absolute;
      bottom: -10px !important;
      top: auto !important;
      display: block;
      box-sizing: border-box;
      white-space: normal;
      .notification-messagebar-icon {
        width: auto;
        height: auto;
        margin: 0px;
        background-image: none !important;
        &:before {
          font-size: 1.5em;
          font-family: FontAwesome;
          font-weight: normal;
          font-style: normal;
          display: inline-block;
          text-decoration: inherit;
          content: "\f05a";
        }
      }
      &.success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
        .notification-messagebar-message{
          color: #3c763d;      
        }
        .notification-messagebar-icon {
          &:before {
            content: "\f058";
          }
        }
      }
      &.warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
        .notification-messagebar-message{
          color: #8a6d3b;        
        }
        .notification-messagebar-icon {
          &:before {
            content: "\f071";
          }
        }
      }
      &.danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
        .notification-messagebar-message{
          color: #a94442;
        }
        .notification-messagebar-icon {
          &:before {
            content: "\f057";
          }
        }
      }
    }
    .notification-messagebar-message{
      color: #31708f;
    }
  }
}

.onyx-button.text {
	font-weight: bold;
	font-size: 12px;
}

.collection-list.enyo-data-list {
	.item-holder {
		padding: 5px;
		font-weight: bold;
		font-size: 12px;
		border-bottom: 1px solid #eee;

		&:hover {
			background-color: lighten(@pangea-green, 45%);
		}
	}
}

.enyo-fittable-rows-layout.enyo-stretch.data-column {
	font-size: 14px;
	padding: 10px;
	line-height: 25px;
	text-align: right;

	.label {
		font-weight: bold;
		margin-right: 5px;
	}
}

/* ----------------------------------------- end rule overrides */
